@import './color.scss';
@import './mixins.scss';
@import './keyframes.scss';

$careerboox_graph_width_b: 100px;
$careerboox_graph_width_t: 50px;
$careerboox_graph_width_m: 30px;
$careerboox_graph_b_width: 8px;

.section_frame {
    max-width: 960px;
    margin: 0px auto;
    padding: 100px 0;
    @include max-screen($breakpoint-tablet) {
        padding: 50px 0;
    }
    @include max-screen($breakpoint-mobile) {
        padding: 30px 0;
    }

    .section_title {
        color: $accent_color;
        width: 100%;
        text-align: center;
        font-family: 'Righteous', cursive;
        font-size: 64px;
        padding-bottom: 48px;
        @include max-screen($breakpoint-tablet) {
            font-size: 24px;
            padding-bottom: 32px;
        }
        @include max-screen($breakpoint-mobile) {
            font-size: 16px;
            padding-bottom: 12px;
        }
        // border: 2px solid $accent_color;
    }

    .section_title_r {
        @extend .section_title;
        color: $sub1_color;
        // border: 2px solid $sub1_color;
    }

    .section_content {
        padding: 32px;
        font-size: 36px;
        @include max-screen($breakpoint-tablet) {
            padding: 16px;
            font-size: 18px;
        }
        @include max-screen($breakpoint-mobile) {
            padding: 8px;
            font-size: 11px;
        }
        word-wrap: break-word;
    }

    .section_content_r {
        @extend .section_content;
        color: $reverse_text;
    }
}