@import '../../sass/common.scss';

#aboutme {
    position: relative;
    color: $plane_text;

    #aboutme_backgroud {
        // min-height: 1000px;

        #aboutme_frame {

            .text {
                // padding: 32px 0;
                text-align: center;
            }
        }
    }
}
