@import '../../sass/common.scss';

#aboutme {
    position: relative;
    color: $plane_text;

    #aboutme_backgroud {
        // min-height: 1000px;

        #aboutme_frame {
            max-width: 960px;
            margin: 0px auto;
            padding: 100px 0;
        }
    }
}
