@import '../../sass/common.scss';

#product {
    position: relative;
    color: $plane_text;

    #product_backgroud {

        #product_frame {

            .section_content {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            .section_caution {
                color: #AAA;
                font-size: 11px;
                padding: 32px 16px;
            }
        }
    }
}
