@import '../../sass/common.scss';

#product {
    position: relative;
    color: $plane_text;

    #product_backgroud {

        #product_frame {

            .section_content {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
        }
    }
}
